footer {
    background: url(../img/oe_squiggle-01.png) no-repeat top;
    background-size: 950px 6px;
	padding: 30px 15px;
	max-width: 980px;
}

.footer-contact {
	text-align: left;
	float: left;
}

.footer-newsletter {
	text-align: left;
	float: right;
	.mc_merge_var  {
		margin-bottom: 0px;
	}
}

.social-media {
	margin: 0 auto;
	text-align: center;
	display: inline-block;
	list-style-type: none;
	li {
		padding-right: 15px;
		float: left;
		&:last-of-type {
			padding-right: 0px;
		}
	}
}

@media only screen and (max-width : $medium-break) { 
	.footer-contact {
		float: none;
		padding: 20px 0;
		display: block;
	}

	.footer-newsletter {
		float: none;
		padding: 20px 0;
		display: block;
	}

	.social-media {
		padding: 20px 0;
	}
	footer {
		text-align: left;
	}
	.row {
		padding-top: 20px;
	}
}