.row {
	@include row();
	margin: 25px auto 15px auto;
	&:last-of-type {
		margin-bottom: 0px;
	}
}

.entry-content .row:first-of-type {
	margin-top: 0px;
}

.interior, footer {
	@include outer-container;
}

.one-half {
	@include span-columns(6);
}

.one-third {
	@include span-columns(4);
}

.two-thirds {
	@include span-columns(8);
}

.one-sixth {
	@include span-columns(2)
}

.five-sixths {
	@include span-columns(10)
}

.one-fourth {
	@include span-columns(3)
}

.three-fourths {
	@include span-columns(9)
}

.one-twelfth {
	@include span-columns(1)
}

.five-twelfths {
	@include span-columns(5)
}

.twelve-twelfths {
	@include span-columns(12)
}

// float main content right just for blog
.blog-post .two-thirds {
	float: right;
}


@media only screen and (max-width : $medium-break) { 
	.one-half, .one-third, .two-thirds, .one-fourth, .three-fourths, .one-sixth, .five-sixths, .one-twelfth {
		@include span-columns(12);
	}
	.row {
		margin: 0px auto;
	}
}
