header {
    background-color: $teal;
    width: 100%;
    font-size: 1.25em;
    .row {
        max-width: 980px;
        margin: 0px auto;
        padding: 18px 0 9px 0;
        text-align: center;
    }
    .logo {
        float: left;
    }
    nav {
        margin: 0 auto;
        text-align: center;
        height: 2em;
        ul {
            display: inline-block;
            list-style: none;
            margin: 0 auto;
            padding: 0;
            li {
                float: left;
                margin-right: 40px;
            }
        }
        .menu-link {
            display: none;
            cursor: pointer;
        }
    }
    .location-year {
        float: right;
    }
}

@media only screen and (max-width: $medium-break) { 
    header {
        .logo {
            float: none;
        }
        .location-year {
            float: none;
            font-size: .8em;
        }  
        nav {
            height: auto;
            ul {
                display: none;
                li {
                    float: none;
                    margin: 0px;
                }
            }
            .menu-link {
                display: block;
            }
        }
    }
}