.interior {
	max-width: 980px;
	padding: 15px;
	margin-top: 80px;
	article img {
		padding-bottom: 20px;
	}
	.wp-caption img {
		padding-bottom: 10px;
	}
}

.home .interior, .archive .interior {
	margin-top: 16px;
}

.entry-content {
	margin-top: .4em;
	padding-bottom: 20px;
	margin-bottom: 0px;
}

.blog-post {
		padding-top: 10px;
		display: block;
		border-top: 2px solid $black;
}

.wp-caption {
	text-align: center;
}

.home-top-mobile, .blog-top-mobile {
	display: none;
}

@media only screen and (max-width : $medium-break) { 
	article {
		max-width: 80%;
		margin: 40px auto 0 auto;
		padding-top: 20px;
	}
	.interior {
		padding: 0px;
		margin-top: 0px;
	}
	// this gives homepage content its mobile margins
	.entry-content {
		max-width: 80%;
		margin: 0 auto;
	}
	.blog-post .entry-content {
		max-width: 100%;
		margin: 0 auto;
	}
	.widget {
		margin: 0px;
	}
	#secondary {
		padding: 15px;
		background-color: #fff;
		text-align: left;
		.widget_subpages {
			ul {
				display: inline-block;
				padding: 0 0 0 0;
				li {
					// width: 40%;
					// float: left;
					margin-bottom: 20px;
				}
			}
		}
	}

	.home-top, .blog-top {
		display: none;
	}

	.home-top-mobile, .blog-top-mobile {
		display: block;
	}

	.post-navigation {
		display: inline-block;
		width: 100%;
		padding: 20px;
	}
}



