.interior {
	max-width: 980px;
	padding: 15px;
	margin-top: 80px;
}

.home .interior {
	margin-top: 10px;
}

.entry-content {
	margin-top: .4em;
	padding-bottom: 20px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.blog-post {
		padding-top: 40px;
		display: block;
		border-top: 1px solid $teal;
}



@media only screen and (max-width : $medium-break) { 
	.interior {
		max-width: 80%;
		margin-top: 40px;
	}
	#secondary {
		text-align: left;
		.widget_subpages {
			border-bottom: 1px solid $teal;
			ul {
				display: inline-block;
				li {
					width: 40%;
					float: left;
					margin-bottom: 20px;
				}
			}
		}
	}
}


