.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    background: $light-teal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $teal;
}

img {
	max-width: 100%;
}

hr, .home .interior hr {
    border-top: 2px solid $teal;
    margin: 10px 0 10px 0;
    display: block;
}

.interior hr {
    border-top: 1px solid $teal;
}

.back-to-top {
    right: 20px;
    top: 40px;
    position: fixed;
    display: none;
    background: url('../img/top.png');
    a {
        width: 40px;
        height: 40px;
        display: block;
    }
}

.coming-soon {
    background-color: $white;
}

.coming-soon div {
    margin: 0 auto;
    width: 80%; 
    padding-top: 5%;
    img {
        max-width: 100%;
    }
}

.search-submit {
    @include button();
    color: $light-teal;
}

//  mailchimp stuff
#mc_signup {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}

.mc_merge_var {
    float: left;
    .mc_header_email {
        display: none;
    }
    .mc_input {
        padding: 7px;
    }
}

.mc_signup_submit {
    float: left;
}

#mc_signup_submit {
    margin-top: 0px !important;
    width: 100% !important;
    margin-left: 10px;
    padding-top: 4px;
    @include button();
}