.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    background: $light-teal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $teal;
}

img {
	max-width: 100%;
}

hr {
    border-top: 1px solid $teal;
    margin: 10px 0 10px 0;
    display: block;
}

.back-to-top {
    right: 40px;
    top: 100px;
    position: fixed;
    display: none;
    background: url('../img/top.png');
    a {
        width: 40px;
        height: 40px;
        display: block;
    }
}
