body {
	font-size: 16px;
	font-family: 'Helvetica', sans-serif;
}

a {
	color: $teal;
	&:visited, &:active {
		color: $teal;
	}
	&:hover {
		font-style: italic;
	}
}

p {
	font-size: 1em;
	line-height: 1.513em;
	padding-bottom: 20px;
}

h1 {
	font-size: 1.75em;
}

h2 {
	font-size: 1.3125em;
	padding-bottom: 6px;
}
h3 {
	font-size: 1em;
	line-height: 1.613em;
	font-weight: 700;
	padding-bottom: 6px;
}
h4 {
	font-size: 1.2em;
}

ul {
	padding-bottom: 20px;
	li {
		margin-left: 20px;
	}
}

ol {
	padding-bottom: 20px;
	li {
		margin-left: 22px;
	}
}

.wp-caption .wp-caption-text {
	font-size: 12px;
}

.logo {
	padding-bottom: 6px;
	&:hover {
		border-bottom: 2px solid $white;
		padding-bottom: 4px;
	}
	a {
		text-decoration: none;
		color: $white;
		&:hover {
			font-style: normal;
		}
	}
}

.location-year {
	a {
		text-decoration: none;
		color: $white;
		&:hover {
			font-style: normal;
			border-bottom: 2px solid $white;
			padding-bottom: 8px;
		}
	}
}

header {
	color: $white;
	nav {
		a {
			color: $white;
			text-decoration: none;
			&:visited, &:active {
				color: $white;
			}
			&:hover {
				font-style: normal;
				text-decoration: none;
			}
		}
		li {
			&.current-menu-item {
				color: $white;
				border-bottom: 2px solid $white;
				padding-bottom: 2px;
			}
			&:hover {
					border-bottom: 2px solid $white;
					padding-bottom: 2px;
			}
		}
	}
}

#secondary {
	li {
		list-style-type: none;
		margin-left: 0px;
		font-size: 1.625em;
		line-height: 1.875em;	
		a {
			text-decoration: none;
			border-bottom: 0px;
		}
	}
	.widget-title {
		margin-bottom: 20px;
		a {
			text-decoration: none;
			padding-bottom: 4px;
			border-bottom: 2px solid $teal;
		}
	}
}

.header-aside {
	font-size: 1.6em;
}

.post-header {
	ul {
		list-style-type: none;
		li {
			font-weight: bold;
			padding-left: 0px;
			margin-left: 0px;
		}
	}
}

.entry-title {
	margin-top: -.21em;
	padding-bottom: 20px;
}

.interior a {
	text-decoration: none;
	padding-bottom: 2px;
	border-bottom: 2px solid $teal;
	&.no-border-bottom {
		border-bottom: 0px;
	}
}

a img {
	border-bottom: 0px;
}

footer {
	text-align: center;
	&#colophon .mc_custom_border_hdr {
		text-align: left;
	}
}

@media only screen and (max-width: $medium-break) { 
	header {
		nav {
			li {
				&.current-menu-item {
					color: $white;
					border-bottom: 0px;
					padding-bottom: 0px;
					a {
						text-decoration: underline;
					}					
				}
				&:hover {
					border-bottom: 0px;
					padding-bottom: 0px;

				}
			}
		}
	}
	#secondary {
		li {
			font-size: 1.25em;
			line-height: 1em;
		}
		.widget-title {
			font-size: 20px;
		}
	}
}