@mixin button(){
	border-radius: 5px;
	border: 0px;
	height: 2.1em;
	background-color: $orange;
	color: #fff;
	font-size: 1em;
	&:hover {
		background-color: black;
		// color: black;
	}
}

// @mixin lineartextgradient($color1, $color2)
// {
//     color: mix($color1, $color2);
//     background: -webkit-gradient(90deg, from($color1), to($color2));
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
// }