//Vertical Tabs
.vertical-tabs-container { // small screens: accordion
  $tab-border-color: $teal;
  $tab-border: 1px solid $tab-border-color;
  $tab-border-radius: $base-border-radius;
  $tab-content-background: $white;
  $tab-active-color: $tab-content-background;
  $tab-inactive-color: $base-background-color;
  $vertical-tabs-height: em(300);
  $vertical-tab-mode: $medium-screen;

  @include clearfix;
  border-radius: $tab-border-radius;
  // border: $tab-border;
  margin-bottom: $base-spacing;
  overflow: hidden;

  .vertical-tabs {
    display: none;
    @include media($vertical-tab-mode) {
      // background-color: $tab-inactive-color;
      color: $teal;
      display: inline;
      float: left;
      height: $vertical-tabs-height;
      max-width: 150px;
      min-width: 90px;
      @include size(12% auto);
      position: fixed;
    }
  }

  .vertical-tab {
    @include media($vertical-tab-mode) {
      border-bottom: $tab-border;
      display: block;
      font-weight: bold;
      margin-right: -1px;
      padding: $base-spacing/2 $gutter/2;

      &.is-active {
        color: $white;
        background-color: $teal;
        margin-right: -1px;
      }
    }
  }

  a.vertical-tab-accordion-heading,
  a.vertical-tab {
    // color: $dark-gray;
  }

  .vertical-tab:focus {
    outline: none; 
  }

  .vertical-tab-content-container {
    display: block;
    margin: 0 auto;
    border-left: 2px solid $teal;
    border-right: 2px solid $teal;


    & a:focus { 
      outline: none; 
    }

    @include media($vertical-tab-mode) {
      border: 0px;
      display: inline-block;
      float: right;
      @include size(75% auto);
      margin-right: 2.5%;
      // background-color: $tab-content-background;
    }
  }

  .vertical-tab-content {
    // background-color: $tab-content-background;
    padding: $base-spacing/2 $gutter/2;
    border-bottom: 2px solid $teal;
    @include media($vertical-tab-mode) {
      border: none;
      display: none;
    }
  }
  .vertical-tab-accordion-heading {
    border-bottom: 2px solid $teal;
    border-top: 0px;
    color: $teal;
    cursor: pointer;
    display: block;
    font-weight: bold;
    padding: $base-spacing/2 $gutter/2;
    &:hover {
      color: $base-accent-color;
    }
    &:first-child {
      border-top: 2px solid $teal;
    }
    &.is-active {
      border-bottom: 0px;
    }
    @include media($vertical-tab-mode) {
      display: none;
    }
  }
}
// Expandable Section

$expander-arrow-width: 5px;
$expander-toggle-size: 1em;
$expander-toggle-arrow-size: $expander-toggle-size;
$expander-toggle-margin: 1em;

.event-time {
  font-size: .8em;
}

.event-location {
  padding-bottom: 20px;
}

.interior a.expander-trigger {
  // @include user-select(none);
  cursor: pointer;
  display: block;
  font-size: $expander-toggle-size;
  margin-bottom: $expander-toggle-size;
  padding-bottom: $expander-toggle-size / 4;
  border-bottom: 0px;
}

.expander-content {
  border-bottom: 2px solid $teal;
  padding-bottom: 14px;
  margin-bottom: 14px;
}

.expander-toggle-arrow {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-right: 8px;  
  @include background-image(url("../img/circle-right.svg"));
  &.open {
    @include transform(rotate(90deg));
  }
}

.expander-hidden.expander-content {
  display: none;
}